@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a gStore Medic+</h1>
    <p>Lee más sobre nosotros en <a href="https://www.infolabs.com.gt"> para obtener más información.</a>.</p>
</div>
